$mainColor: rgb(255, 255, 53);
$hoverColor:rgb(236, 236, 49);

$borderColor: rgb(236, 236, 49);
$hoverBorderColor: rgb(190, 190, 43);

$searchBackColor: rgb(240, 240, 240);

$borderWhiteStyle: rgb(209, 192, 37);

$buttonShadow: 0px 8px 15px rgba(0, 0, 0, 0.1);