.footer {
    box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(12, 12, 12);
    border-top: 1px solid rgb(161, 161, 0);
    &__container{
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerText{
        font-size: 16px;
    }

    &__info{
        display: flex;
        justify-content:space-around;
        width: 100%;
    }

    &__copyright{
        margin: 15px 0 15px 0;
    }

    &__number{
        margin: 15px 0 15px 0;
    }

    &__social{
        display: flex;
        justify-content: center;

        width: 73%;
        border-top: 3px solid $hoverColor;
        a{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            margin: 15px 0 15px 10px;
            border-left: 2px solid white;
            transition: .3s;
            &:first-child{
                border-left: none;
            }
            &:hover{
                color: $mainColor;
            }
            i{
                font-size: 20px;
                margin-right: 5px;
                padding-left: 10px;
            }
        }
    }
}