@import "style/fonts";
@import "style/colors";

* {
    margin: 0;
    padding: 0;
}

@import "style/container";
@import "style/common";

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $mainFont;
}

@import "style/header";
@import "style/main";
@import "style/footer";
@import "style/about";

.contacts{
    &__container{
        min-height: 90vh;
    }

    &__title{
        font-size: 35px;
        margin: 20px 0 0 0;
        font-weight: 300;
    }

    &__map{
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        margin: 20px 0 25px 0;
    }

    &__info{
        display:block;
        width: 600px;
        font-size: 20px;
        font-weight: 500;
        border-left: 3px solid $mainColor;
        margin-bottom: 25px;
        a{
            text-decoration: none;
            color: black;
        }
        div{
            margin: 20px 0 0 20px;
        }
        div:first-child{
            margin-top: 0;
        }
    }
}